*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* biar size ga berubah pas add pading/margin */
}

.header{grid-area: hd; background-color: bisque;}
.author-info{grid-area: aui; background-color: bisque;}
.main-content{grid-area: mc; background-color: bisque;}
.empty{grid-area: em;}
.sidebar{grid-area: sd; background-color: bisque;}

.grid-container{
    min-height: 100vh;
    display: grid;
    gap: 10px;

    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px auto auto;
    grid-template-areas: 
        "hd hd"
        "aui mc"
        ". sd";
}