*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 40px;
}
hr{
    margin: 20px 0;
}

#input-txt{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(17, 16, 16);
    padding: 10px;
}
#btn-input{
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid rgb(17, 16, 16);
    background-color: rgb(245, 245, 245);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
#btn-input:hover{
    background-color: rgb(51, 48, 48);
    color: rgb(245, 245, 245);
}

#list-area{
    list-style-type: none;
    margin-bottom: 15px;
}